<h1>Listing productos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Descripcion</th>
  </tr>

<% @productos.each do |producto| %>
  <tr>
    <td><%=h producto.nombre %></td>
    <td><%=h producto.precio %></td>
    <td><%=h producto.descripcion %></td>
	
    <td><%= link_to 'Show', producto %></td>
<% if logged_in? %>
    <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
    <td><%= link_to 'Destroy', producto, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>

  </tr>
<% end %>
</table>

<br />
<% if logged_in? %>
	<%= link_to 'New producto', new_producto_path %>
<% end %>







